<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VECTOR</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<header>
    <div>
        <h1>
            Ping
        </h1>
        <h2 id="ping_h2">

        </h2>
    </div>
</header>
<div class="div_main">
    <div class="div_joystick">
        <div class="div_joystick_container">
            <div class="joy_Z">
                <button>
                    Z
                </button>
            </div>
            <div class="joy_Q_D">
                <button>
                    Q
                </button>
                <button>
                    D
                </button>
            </div>
            <div class="joy_S">
                <button>
                    S
                </button>
            </div>
        </div>

    </div>
    <div class="div_view">
        <img src="vectorImage" id="vectorImageId" alt="vector_cam" class="vector_view">
    </div>
    <div class="div_commande">
        <div class="div_commande_container">
            <div class="commande_head">
                <span>
                    Tête
                </span>
                <div class="commande_up">
                    <button>
                        T
                    </button>
                </div>
                <div class="commande_down">
                    <button>
                        G
                    </button>
                </div>
            </div>
            <div class="commande_arm">
                <span>
                    Bras
                </span>
                <div class="commande_up">
                    <button>
                        R
                    </button>
                </div>
                <div class="commande_down">
                    <button>
                        F
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/vector.js"></script>
<noscript>TU AS PAS JAVASCRIPT D'ACTIVE CONNARD</noscript>
</html>